body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#signup-form{
    width: 90%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 3%;
}

#signup-form button{
    font-size: 1.1rem;
}

#signup-form p{
    font-size: 0.8rem;
}